In [2]:
import pandas as pd
import numpy as np
iris_data = pd.read_csv("../data/iris.csv",header=0,
names = ["花萼长度", "花萼宽度", "花瓣长度", "花瓣宽度", "类别"],
encoding = 'gbk');
pd.set_option("display.max_rows", 5) # 设置最大显示5行数据

数据切片与删除

In [3]:
iris_data[:50]
DataFrame = iris_data[:5].copy() # 建立数据副本，以便多次修改
DataFrame.drop(index=[1,3])

   花萼长度  花萼宽度  花瓣长度  花瓣宽度      类别
2   4.9   3.0   1.4   0.2  setosa
4   4.6   3.1   1.5   0.2  setosa
5   5.0   3.6   1.4   0.2  setosa

In [4]:
DataFrame = iris_data[:5].copy() # 建立数据副本，以便多次修改
DataFrame.drop(columns=["花萼宽度", "花瓣宽度"])

   花萼长度  花瓣长度      类别
1   5.1   1.4  setosa
2   4.9   1.4  setosa
3   4.7   1.3  setosa
4   4.6   1.5  setosa
5   5.0   1.4  setosa

基本赋值

In [5]:
DataFrame = iris_data[:5].copy() # 建立数据副本，以便多次修改
DataFrame.loc[1, "类别"] = "新类别名" # 修改第0行类别标签列的数据
print(DataFrame)
DataFrame = iris_data[:5].copy() # 建立数据副本，以便多次修改
DataFrame.loc[1] = "新数据" # 修改第1行的数据
print(DataFrame)
DataFrame = iris_data[:5].copy() # 建立数据副本，以便多次修改
DataFrame.loc[:, "花萼长度"] = 10 # 修改第1列的数据
print(DataFrame)

   花萼长度  花萼宽度  花瓣长度  花瓣宽度      类别
1   5.1   3.5   1.4   0.2    新类别名
2   4.9   3.0   1.4   0.2  setosa
3   4.7   3.2   1.3   0.2  setosa
4   4.6   3.1   1.5   0.2  setosa
5   5.0   3.6   1.4   0.2  setosa
  花萼长度 花萼宽度 花瓣长度 花瓣宽度      类别
1  新数据  新数据  新数据  新数据     新数据
2  4.9    3  1.4  0.2  setosa
3  4.7  3.2  1.3  0.2  setosa
4  4.6  3.1  1.5  0.2  setosa
5    5  3.6  1.4  0.2  setosa
   花萼长度  花萼宽度  花瓣长度  花瓣宽度      类别
1    10   3.5   1.4   0.2  setosa
2    10   3.0   1.4   0.2  setosa
3    10   3.2   1.3   0.2  setosa
4    10   3.1   1.5   0.2  setosa
5    10   3.6   1.4   0.2  setosa

index 检索 iloc[左闭右开]

In [30]:
# DataFrame.iloc[-1] # 最后一行
DataFrame.iloc[1:3, 1] # 第1列
print(DataFrame.iloc[1:3, 1])
print('----')
print(DataFrame.iloc[1:3, 1:3])
# DataFrame.iloc[:3, :3] # 前三行的前三列
# DataFrame.iloc[[0,1,3], 1] # 第0，1，3行的第1列
# DataFrame.iloc[[True, False, True]] # 第0，2行

2    3.0
3    3.2
Name: 花萼宽度, dtype: float64
----
   花萼宽度  花瓣长度
2   3.0   1.4
3   3.2   1.3

#条件检索

In [32]:
# DataFrame["花萼长度"] = pd.to_numeric(DataFrame["花萼长度"], errors='coerce')

s1=DataFrame.loc[DataFrame["花萼长度"]>4]
print(s1)
s2=DataFrame.loc[(DataFrame["花萼长度"]>=5.0) & (DataFrame["花瓣长度"]>=1.4)]
s2

   花萼长度  花萼宽度  花瓣长度  花瓣宽度      类别
1    10   3.5   1.4   0.2  setosa
2    10   3.0   1.4   0.2  setosa
3    10   3.2   1.3   0.2  setosa
4    10   3.1   1.5   0.2  setosa
5    10   3.6   1.4   0.2  setosa

   花萼长度  花萼宽度  花瓣长度  花瓣宽度      类别
1    10   3.5   1.4   0.2  setosa
2    10   3.0   1.4   0.2  setosa
4    10   3.1   1.5   0.2  setosa
5    10   3.6   1.4   0.2  setosa

In [33]:
df = iris_data.loc[iris_data["花萼长度"].isnull()]
df[:4]
df

Empty DataFrame
Columns: [花萼长度, 花萼宽度, 花瓣长度, 花瓣宽度, 类别]
Index: []

In [34]:
df = iris_data.loc[iris_data["类别"].notnull()]
df = iris_data.loc[iris_data["花萼长度"].isin([5.0])]
df[:5]

    花萼长度  花萼宽度  花瓣长度  花瓣宽度      类别
5    5.0   3.6   1.4   0.2  setosa
8    5.0   3.4   1.5   0.2  setosa
26   5.0   3.0   1.6   0.2  setosa
27   5.0   3.4   1.6   0.4  setosa
36   5.0   3.2   1.2   0.2  setosa

#条件统计

In [38]:
print(iris_data.loc[iris_data["类别"] == "versicolor"].count())
c1 = sum(iris_data["类别"] == "setosa")
c2 = sum(iris_data["类别"] == "Iris-versicolor")
c3 = sum(iris_data["类别"] == "Iris-virginica")
print(c1, c2, c3) # 手动统计各类样本数量
iris_data["类别"].value_counts()

花萼长度    50
花萼宽度    50
花瓣长度    50
花瓣宽度    50
类别      50
dtype: int64
50 0 0

virginica     50
versicolor    50
setosa        50
Name: 类别, dtype: int64

#条件赋值

In [44]:
DataFrame = iris_data[:5].copy() # 建立数据副本，以便多次修改
DataFrame.loc[DataFrame["花萼长度"]>4.8, "类别"] = "大花萼"
DataFrame

   花萼长度  花萼宽度  花瓣长度  花瓣宽度      类别
1   5.1   3.5   1.4   0.2     大花萼
2   4.9   3.0   1.4   0.2     大花萼
3   4.7   3.2   1.3   0.2  setosa
4   4.6   3.1   1.5   0.2  setosa
5   5.0   3.6   1.4   0.2     大花萼

In [43]:
DataFrame = iris_data[:5].copy() # 建立数据副本，以便多次修改
DataFrame.loc[DataFrame["花萼长度"]>4.8] = "错误赋值"
print(DataFrame)

   花萼长度  花萼宽度  花瓣长度  花瓣宽度      类别
1  错误赋值  错误赋值  错误赋值  错误赋值    错误赋值
2  错误赋值  错误赋值  错误赋值  错误赋值    错误赋值
3   4.7   3.2   1.3   0.2  setosa
4   4.6   3.1   1.5   0.2  setosa
5  错误赋值  错误赋值  错误赋值  错误赋值    错误赋值

#数据分析

In [46]:
iris_data["类别"].describe()

count           150
unique            3
top       virginica
freq             50
Name: 类别, dtype: object

In [49]:
print(iris_data["类别"].count())
iris_data.max()

150

花萼长度          7.9
花萼宽度          4.4
花瓣长度          6.9
花瓣宽度          2.5
类别      virginica
dtype: object

In [50]:
iris_data["花萼长度"].max()

7.9

In [51]:


print(iris_data.min())
print(iris_data["花萼长度"].min())

花萼长度       4.3
花萼宽度         2
花瓣长度         1
花瓣宽度       0.1
类别      setosa
dtype: object
4.3

In [53]:
print(iris_data.mean())
iris_data["花萼长度"].mean()
print(iris_data.median())
iris_data["花萼长度"].median()

花萼长度    5.843333
花萼宽度    3.057333
花瓣长度    3.758000
花瓣宽度    1.199333
dtype: float64
花萼长度    5.80
花萼宽度    3.00
花瓣长度    4.35
花瓣宽度    1.30
dtype: float64

5.8

In [54]:
iris_data["类别"].unique() # 列出不同的取值

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [55]:

np.sort(iris_data["花萼长度"].unique()) # 默认升序排列

array([4.3, 4.4, 4.5, 4.6, 4.7, 4.8, 4.9, 5. , 5.1, 5.2, 5.3, 5.4, 5.5,
       5.6, 5.7, 5.8, 5.9, 6. , 6.1, 6.2, 6.3, 6.4, 6.5, 6.6, 6.7, 6.8,
       6.9, 7. , 7.1, 7.2, 7.3, 7.4, 7.6, 7.7, 7.9])

In [56]:
iris0=iris_data.agg(['max', 'min', 'mean', 'median']) # agg 聚合操作，可运行多个函数
iris0

            花萼长度      花萼宽度   花瓣长度      花瓣宽度         类别
max     7.900000  4.400000  6.900  2.500000  virginica
min     4.300000  2.000000  1.000  0.100000     setosa
mean    5.843333  3.057333  3.758  1.199333        NaN
median  5.800000  3.000000  4.350  1.300000        NaN

In [57]:

iris1=iris_data["花萼长度"].agg(['max', 'min', 'mean', 'median'])
iris1

max       7.900000
min       4.300000
mean      5.843333
median    5.800000
Name: 花萼长度, dtype: float64

In [59]:
iris2=iris_data.groupby(['花萼长度'])['花萼长度'].count() # 分组，花萼长度由小到大排列
iris2

花萼长度
4.3    1
4.4    3
      ..
7.7    4
7.9    1
Name: 花萼长度, Length: 35, dtype: int64

In [62]:
iris_data_review = iris_data.groupby(['花萼长度'])['花瓣长度'].agg(['min', 'max']) # 分组
iris_data_review

      min  max
花萼长度
4.3   1.1  1.1
4.4   1.3  1.4
...   ...  ...
7.7   6.1  6.9
7.9   6.4  6.4

[35 rows x 2 columns]

#数据保存

In [7]:
#iris_data.to_csv("../output/newdata.csv", na_rep="NA", index = False, encoding='gbk')
iris_data = pd.read_csv("../output/newdata.csv", encoding = "gbk");
iris_data.head()

   花萼长度  花萼宽度  花瓣长度  花瓣宽度      类别
0   5.1   3.5   1.4   0.2  setosa
1   4.9   3.0   1.4   0.2  setosa
2   4.7   3.2   1.3   0.2  setosa
3   4.6   3.1   1.5   0.2  setosa
4   5.0   3.6   1.4   0.2  setosa