In [1]:
import pandas

默认情况下，read_csv()函数会读取逗号分割文件

可使用sep参数设置位\t，显示知名使用制表符分隔

In [2]:

df = pandas.read_csv('./data/gapminder.tsv',sep='\t')
print(df.head())

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [3]:
print(df.shape)

(1704, 6)

In [6]:
#获取列名
print(df.columns)
#每列的属性
print(df.dtypes)
print(df.info)

Index(['country', 'continent', 'year', 'lifeExp', 'pop', 'gdpPercap'], dtype='object')
country       object
continent     object
year           int64
lifeExp      float64
pop            int64
gdpPercap    float64
dtype: object
<bound method DataFrame.info of           country continent  year  lifeExp       pop   gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333  779.445314
1     Afghanistan      Asia  1957   30.332   9240934  820.853030
2     Afghanistan      Asia  1962   31.997  10267083  853.100710
3     Afghanistan      Asia  1967   34.020  11537966  836.197138
4     Afghanistan      Asia  1972   36.088  13079460  739.981106
...           ...       ...   ...      ...       ...         ...
1699     Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700     Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701     Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702     Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703     Zimbabwe    Africa  2007   43.487  12311143  469.709298

[1704 rows x 6 columns]>

问题：

1. 数据中每年的平均预期寿命是多少？平均预期寿命、人口和GDP是多少？

2. 如果安州对数据分层，并进行同样的计算，结果会怎样？

3. 美国州列出了多少个国家和地区？

In [9]:
#按照年份进行分割，然后获取lifeExp列，计算平均值
print(df.groupby('year')['lifeExp'].mean())

year
1952    49.057620
1957    51.507401
1962    53.609249
1967    55.678290
1972    57.647386
1977    59.570157
1982    61.533197
1987    63.212613
1992    64.160338
1997    65.014676
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64

In [10]:
#但是如果直接输出分组的DataFrame，pandas只会返回它的内存位置
grouped_year_df = df.groupby('year')
grouped_year_df_lifeExp = grouped_year_df['lifeExp']
mean_lifeExp_by_year = grouped_year_df_lifeExp.mean()
print(mean_lifeExp_by_year)

year
1952    49.057620
1957    51.507401
1962    53.609249
1967    55.678290
1972    57.647386
1977    59.570157
1982    61.533197
1987    63.212613
1992    64.160338
1997    65.014676
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64

In [20]:
df.groupby(['year','continent'])[['lifeExp','gdpPercap']].mean().head()

                  lifeExp     gdpPercap
year continent
1952 Africa     39.135500   1252.572466
     Americas   53.279840   4079.062552
     Asia       46.314394   5195.484004
     Europe     64.408500   5661.057435
     Oceania    69.255000  10298.085650

In [18]:
multi_group_var = df.\
    groupby(['year','continent'])\
    [['lifeExp','gdpPercap']].\
    mean()
print(type(multi_group_var))
print(multi_group_var.head())

<class 'pandas.core.frame.DataFrame'>
                  lifeExp     gdpPercap
year continent
1952 Africa     39.135500   1252.572466
     Americas   53.279840   4079.062552
     Asia       46.314394   5195.484004
     Europe     64.408500   5661.057435
     Oceania    69.255000  10298.085650

In [19]:
flat = multi_group_var.reset_index()
print(flat.head())

   year continent    lifeExp     gdpPercap
0  1952    Africa  39.135500   1252.572466
1  1952  Americas  53.279840   4079.062552
2  1952      Asia  46.314394   5195.484004
3  1952    Europe  64.408500   5661.057435
4  1952   Oceania  69.255000  10298.085650

In [21]:
#美国州列出了多少个国家和地区？
df.groupby('continent')['country'].nunique()

continent
Africa      52
Americas    25
Asia        33
Europe      30
Oceania      2
Name: country, dtype: int64

In [30]:
data = df.groupby("continent")['country']

In [31]:
print(type(data))

<class 'pandas.core.groupby.generic.SeriesGroupBy'>

In [33]:
df['country'].value_counts()

Reunion      12
Sweden       12
Greece       12
Argentina    12
Myanmar      12
             ..
Mauritius    12
Italy        12
Austria      12
Uganda       12
Swaziland    12
Name: country, Length: 142, dtype: int64

In [ ]:
global_yearly_