In [22]:
import pandas as pd
import numpy as np
from IPython.display import display

pd.options.display.max_columns = 50

college = pd.read_csv('islr/dataset/College.csv')
college.head()

,Name,Private,Apps,Accept,Enroll,Top10perc,Top25perc,F.Undergrad,P.Undergrad,Outstate,Room.Board,Books,Personal,PhD,Terminal,S.F.Ratio,perc.alumni,Expend,Grad.Rate
0,Abilene,Yes,1660,1232,721,23,52,2885,537,7440,3300,450,2200,70,78,18.1,12,7041,60
1,Adelphi University,Yes,2186,1924,512,16,29,2683,1227,12280,6450,750,1500,29,30,12.2,16,10527,56
2,Adrian College,Yes,1428,1097,336,22,50,1036,99,11250,3750,400,1165,53,66,12.9,30,8735,54
3,Agnes Scott College,Yes,417,349,137,60,89,510,63,12960,5450,450,875,92,97,7.7,37,19016,59
4,Alaska Pacific University,Yes,193,146,55,16,44,249,869,7560,4120,800,1500,76,72,11.9,2,10922,15

In [19]:
columns=college.columns
columns

Index(['Name', 'Private', 'Apps', 'Accept', 'Enroll', 'Top10perc', 'Top25perc',
       'F.Undergrad', 'P.Undergrad', 'Outstate', 'Room.Board', 'Books',
       'Personal', 'PhD', 'Terminal', 'S.F.Ratio', 'perc.alumni', 'Expend',
       'Grad.Rate'],
      dtype='object')

选择数据子集

In [15]:
print(college.iloc[:, [4,6]].head( )) # 选取两列的所有的行

s1=college.loc[:, ['PhD', 'Books']]
s1.head()

   Enroll  Top25perc
0     721         52
1     512         29
2     336         50
3     137         89
4      55         44

   PhD  Books
0   70    450
1   29    750
2   53    400
3   92    450
4   76    800

In [51]:
print(college.head())

                        Name Private  Apps  Accept  Enroll  Top10perc  \
0                    Abilene     Yes  1660    1232     721         23
1         Adelphi University     Yes  2186    1924     512         16
2             Adrian College     Yes  1428    1097     336         22
3        Agnes Scott College     Yes   417     349     137         60
4  Alaska Pacific University     Yes   193     146      55         16

   Top25perc  F.Undergrad  P.Undergrad  Outstate  Room.Board  Books  Personal  \
0         52         2885          537      7440        3300    450      2200
1         29         2683         1227     12280        6450    750      1500
2         50         1036           99     11250        3750    400      1165
3         89          510           63     12960        5450    450       875
4         44          249          869      7560        4120    800      1500

   PhD  Terminal  S.F.Ratio  perc.alumni  Expend  Grad.Rate
0   70        78       18.1           12    7041         60
1   29        30       12.2           16   10527         56
2   53        66       12.9           30    8735         54
3   92        97        7.7           37   19016         59
4   76        72       11.9            2   10922         15

In [24]:
index=college.iloc[[60, 99, 3]].index.tolist() # .index.tolist()可以直接提取索引标签，生成一个列表

print(index)
college = college.set_index('Name',drop=False)
index2=college.iloc[[60, 99, 3]].index.tolist()
print(index2)
#college.head()

['Bowdoin College', 'Centenary College of Louisiana', 'Agnes Scott College']
['Bowdoin College', 'Centenary College of Louisiana', 'Agnes Scott College']

In [25]:
col3 =college.loc['Albion College','Top10perc']  
col3

37

In [27]:
s4=college[10:20:2]# 逐行读取。跨行读取
#print(s4)
seriesapps= college['Apps'] 
seriesapps[1:10:2] # Series也可以进行同样的切片

Name
Adelphi University           2186
Agnes Scott College           417
Albertson College             587
Albion College               1899
Alderson-Broaddus College     582
Name: Apps, dtype: int64

In [ ]:
college.index