In [11]:
import os
#获取当前目录
print(os.getcwd())
#获取上一级目录
print(os.path.dirname(os.getcwd()))
#更改工作目录
os.chdir(r'D:\python_using\text01\stickman\py数据处理、分析、可视化、数据化运营\数据对象的读写练习')

D:\python_using\text01\stickman\py数据处理、分析、可视化、数据化运营\数据对象的读写练习
D:\python_using\text01\stickman\py数据处理、分析、可视化、数据化运营

In [19]:
# os.mkdir('simgle_path')
#exist_ok判断是否已存在目录
os.makedirs("simple_path",exist_ok=True)
os.makedirs("simple_path/path_1/path_2",exist_ok=True)

In [4]:
data_file = open('row_data','w+')
data_file.write("this is line1\nthis is line2")
data_file.close()

In [12]:
data1='row_data'
print(type(data1))
with open(data1) as f:
    data_test1=f.read()
print(data_test1)
print("=========================")

with open(data1) as f:
    data_test2=f.readline()
print(data_test2)
print("=========================")

with open(data1) as f:
    data_test3=f.readlines()
print(data_test3)

<class 'str'>
this is line1
this is line2
=========================
this is line1

=========================
['this is line1\n', 'this is line2']

In [13]:
with open("raw_data_write",'w+') as f:
    f.write(data_test2)
with open("raw_data_writelines",'w+') as f:
    f.writelines(data_test3)

In [2]:
import pymysql 
import numpy as np
import pandas as pd
config ={
    'host':'127.0.0.1',
    'user':'root',
    'password':"whfoxxx1999",
    'port':3306,
    'database':'o2o',
    'charset':'utf8'
}
cnn = pymysql.connect(**config)
cusor = cnn.cursor()

In [7]:
sql = "SELECT * FROM tb_shop"
cusor.execute(sql)
data = cusor.fetchall()
for i in data[:3]:
    print(i)
    print("\n")

(3, 1, 2, 1, '测试的店铺：', '测试描述', '测试地址', '18819479538', 'test', None, datetime.datetime(2021, 4, 30, 8, 39, 59), datetime.datetime(2021, 4, 30, 8, 41, 55), 1, '--->审核中......')


(9, 1, 2, 1, '测试的店铺1', 'test1', 'test1', '15625591467', '\\upload\\item\\shop\\9\\', None, datetime.datetime(2021, 5, 3, 9, 32, 11), datetime.datetime(2021, 5, 3, 9, 32, 11), 0, '--->审核中......')


(10, 1, 2, 1, '测试的店铺2', 'test1', 'test1', '15625591467', '\\upload\\item\\shop\\10\\2021050317401650225.jpg', None, datetime.datetime(2021, 5, 3, 9, 40, 17), datetime.datetime(2021, 5, 3, 9, 40, 17), 0, '--->审核中......')

In [4]:
cusor.execute(sql)

3

In [5]:
#用pandas的方式读取
df = pd.read_sql(sql,cnn)

In [6]:
df.head(5)

,shop_id,owner_id,area_id,shop_category_id,shop_name,shop_desc,shop_addr,phone,shop_img,priority,create_time,last_edit_time,enable_status,advice
0,3,1,2,1,测试的店铺：,测试描述,测试地址,18819479538,test,None,2021-04-30 08:39:59,2021-04-30 08:41:55,1,--->审核中......
1,9,1,2,1,测试的店铺1,test1,test1,15625591467,\upload\item\shop\9\,None,2021-05-03 09:32:11,2021-05-03 09:32:11,0,--->审核中......
2,10,1,2,1,测试的店铺2,test1,test1,15625591467,\upload\item\shop\10\2021050317401650225.jpg,None,2021-05-03 09:40:17,2021-05-03 09:40:17,0,--->审核中......

In [9]:
#读取的数据有多少行多少列
df.shape

(3, 14)

# Create DataBase and Table

In [27]:
import pymysql
# Open database connection

config ={
    'host':'localhost',
    'user':'root',
    'password':"whfoxxx1999",
}
db = pymysql.connect(**config)

# Prepare a cursor object using cursor() methor
# 准备移动的游标（可以定位到结果的某一条数据，也可以对多条数据进行操作，
# 还可以移动、定位到符合要求的操作数据）

cursor = db.cursor()

In [29]:
# Create a DataBase to start
cursor.execute("create database if not exists test")

1

In [30]:
#Use the dataBase test
cursor.execute("use test")

0

In [31]:
# create table employee
sql = '''
    create table if not exists employee(
    first_name char(20) not null,
    last_name char(20) ,
    age int,
    gender char(1),
    income float
    );
'''
cursor.execute(sql)

0

In [16]:
?pymysql.connect