In [3]:
import pymysql

In [10]:
conn = pymysql.connect(
    host='localhost',
    user='root',
    password='whfoxxx1999',
    db='test',
    charset='utf8',
    cursorclass=pymysql.cursors.DictCursor
)

## 创建数据库文件

In [1]:
import sqlite3
#连接到SQLite数据库
#数据库文件时mrsoft.db，如果文件不曾存在，会自动在当前目录创建
conn = sqlite3.connect("mrsoft.db")
#创建一个Cursor
cursor = conn.cursor()
#执行一条SQL语句，创建user表
cursor.execute("create table user(id int(10) primary key, name varchar(20))")
#关闭游标
cursor.close()
#关闭Connection
conn.close()

## 操作SQLite
    1.新增用户数据信息
    2.查看用户数据信息
    3.修改用户数据信息
    4.删除用户数据信息

In [5]:
conn = sqlite3.connect("mrsoft.db")
#创建一个Cursor
cursor = conn.cursor()
cursor.execute('insert into user (id,name) values("4","Mrsoft")')
cursor.execute('insert into user (id,name) values("5","whf_Mrsoft")')
cursor.execute('insert into user (id,name) values("6","测试Mrsoft")')

In [6]:
cursor.execute("select * from user")

result1 = cursor.fetchone()
print(result1)
result2 = cursor.fetchmany(2)
print(result2)
result3 = cursor.fetchall()
print(result3)

(4, 'Mrsoft')
[(5, 'whf_Mrsoft'), (6, '测试Mrsoft')]
[]

In [7]:
cursor.execute('select * from user where id > ?',(1,))
result3 = cursor.fetchall()
print(result3)

[(4, 'Mrsoft'), (5, 'whf_Mrsoft'), (6, '测试Mrsoft')]

In [8]:
cursor = conn.cursor()
cursor.execute('update user set name =  ? where id = ?',('mr',1))

In [9]:
cursor = conn.cursor()
cursor.execute('delete from user where id = ?',(1,))

In [11]:
import pymysql
#db = pymysql.connect('localhost','root','whfoxxx1999','test')
db = pymysql.connect(
    host='localhost',
    user='root',
    password='whfoxxx1999',
    db='test',
    charset='utf8',
    cursorclass=pymysql.cursors.DictCursor
)
cursor = db.cursor()
cursor.execute("SELECT VERSION()")
data = cursor.fetchone()
print("Database version : %s"%data)
db.close()

Database version : {'VERSION()': '8.0.16'}

In [ ]:
CREATE TABLE books (
    id int(8) NOT NULL AUTO_INCREMENT,
    name varchar(50) NOT NULL,
    category varchar(50) NOT NULL,
    price decimal(10,2) DEFAULT NULL,
    publish_time date DEFAULT NULL,
    PRIMARY KEY (id)
)ENGINE = MyISAM AUTO_INCREMENT=1 DEFAULT CHARSET=utf8;

In [14]:
import pymysql
#db = pymysql.connect('localhost','root','whfoxxx1999','test')
db = pymysql.connect(
    host='localhost',
    user='root',
    password='whfoxxx1999',
    db='test',
    charset='utf8',
    cursorclass=pymysql.cursors.DictCursor
)
cursor = db.cursor()
cursor.execute("DROP TABLE IF EXISTS books")
sql='''
CREATE TABLE books (
    id int(8) NOT NULL AUTO_INCREMENT,
    name varchar(50) NOT NULL,
    category varchar(50) NOT NULL,
    price decimal(10,2) DEFAULT NULL,
    publish_time date DEFAULT NULL,
    PRIMARY KEY (id)
)ENGINE = MyISAM AUTO_INCREMENT=1 DEFAULT CHARSET=utf8;
'''
cursor.execute(sql)
db.close()

In [16]:
data =[
    ("零基础学py","Python","79.80","2021-09-01"),
    ("零基础学php","PHP","79.80","2021-09-01"),
    ("零基础学c++","C++","79.80","2021-09-01"),
    ("零基础学java","Java","79.80","2021-09-01"),
    ("零基础学ps","PS","79.80","2021-09-01")
]

In [17]:
import pymysql
#db = pymysql.connect('localhost','root','whfoxxx1999','test')
db = pymysql.connect(
    host='localhost',
    user='root',
    password='whfoxxx1999',
    db='test',
    charset='utf8',
    cursorclass=pymysql.cursors.DictCursor
)
cursor = db.cursor()
try:
    cursor.executemany("insert into books(name,category,price,publish_time) values(%s,%s,%s,%s)",data)
    db.commit()
except:
    dp.rollback()
db.close()