### 缺失值从哪里来：
1. 包含缺失值的数据值

2. 整理数据过程

在read_csv中有三个参数与与缺失值有关：
1. na_values
2. keep_default_na
3. na_filter

In [5]:
import pandas as pd

In [3]:
#数据包含nan
visiter_file = "../data/survey_visited.csv"
print(pd.read_csv(visiter_file))

   ident   site       dated
0    619   DR-1  1927-02-08
1    622   DR-1  1927-02-10
2    734   DR-3  1939-01-07
3    735   DR-3  1930-01-12
4    751   DR-3  1930-02-26
5    752   DR-3         NaN
6    837  MSK-4  1932-01-14
7    844   DR-1  1932-03-22

In [4]:
print(pd.read_csv(visiter_file,keep_default_na=False))

   ident   site       dated
0    619   DR-1  1927-02-08
1    622   DR-1  1927-02-10
2    734   DR-3  1939-01-07
3    735   DR-3  1930-01-12
4    751   DR-3  1930-02-26
5    752   DR-3
6    837  MSK-4  1932-01-14
7    844   DR-1  1932-03-22

In [10]:
print(pd.read_csv(visiter_file,
                  na_values=[""],
                  keep_default_na=False))

   ident   site       dated
0    619   DR-1  1927-02-08
1    622   DR-1  1927-02-10
2    734   DR-3  1939-01-07
3    735   DR-3  1930-01-12
4    751   DR-3  1930-02-26
5    752   DR-3         NaN
6    837  MSK-4  1932-01-14
7    844   DR-1  1932-03-22

# 先下载raw_data_urls.txt中的数据集

In [1]:
import os
import urllib

In [2]:
with open('../data/raw_data_urls.txt','r') as data_urls:
    for line ,url in enumerate(data_urls):
        if line == 3:
            break
        fn = url.split('/')[-1].strip()
        fp = os.path.join("..",'data',fn)
        print(url)
        print(fp)
        urllib.request.urlretrieve(url,fp)

https://s3.amazonaws.com/nyc-tlc/trip+data/fhv_tripdata_2015-01.csv

..\data\fhv_tripdata_2015-01.csv
https://s3.amazonaws.com/nyc-tlc/trip+data/fhv_tripdata_2015-02.csv

..\data\fhv_tripdata_2015-02.csv
https://s3.amazonaws.com/nyc-tlc/trip+data/fhv_tripdata_2015-03.csv

..\data\fhv_tripdata_2015-03.csv

In [4]:
import glob

nyc_taxi_data = glob.glob("../data/fhv_*")
print(nyc_taxi_data)

['../data\\fhv_tripdata_2015-01.csv', '../data\\fhv_tripdata_2015-02.csv', '../data\\fhv_tripdata_2015-03.csv']

In [6]:
taxi1 = pd.read_csv(nyc_taxi_data[0])
taxi2 = pd.read_csv(nyc_taxi_data[1])
taxi3 = pd.read_csv(nyc_taxi_data[2])

In [8]:
print(taxi1.head(5))
print(taxi2.head(5))
print(taxi3.head(5))

  Dispatching_base_num          Pickup_date  locationID
0               B00013  2015-01-01 00:30:00         NaN
1               B00013  2015-01-01 01:22:00         NaN
2               B00013  2015-01-01 01:23:00         NaN
3               B00013  2015-01-01 01:44:00         NaN
4               B00013  2015-01-01 02:00:00         NaN
  Dispatching_base_num          Pickup_date  locationID
0               B00013  2015-02-01 00:00:00         NaN
1               B00013  2015-02-01 00:01:00         NaN
2               B00013  2015-02-01 00:21:00         NaN
3               B00013  2015-02-01 01:00:00         NaN
4               B00013  2015-02-01 02:10:00         NaN
  Dispatching_base_num          Pickup_date  locationID
0               B00029  2015-03-01 00:02:00       213.0
1               B00029  2015-03-01 00:03:00        51.0
2               B00029  2015-03-01 00:11:00         3.0
3               B00029  2015-03-01 00:11:00       259.0
4               B00029  2015-03-01 00:13:00       174.0

In [10]:
print(taxi1.shape)
print(taxi2.shape)
print(taxi3.shape)

(2746033, 3)
(3126401, 3)
(3281427, 3)

In [12]:
taxi = pd.concat([taxi1,taxi2,taxi3])
print(taxi.shape)

(9153861, 3)

In [16]:
#当数据分成很多部分是，手动保存每个DataFrame会很繁琐，
#可以使用循环和列表推导
list_taxi_df = []

for csv_filename in nyc_taxi_data:
    print(csv_filename)
    
    df = pd.read_csv(csv_filename)
    
    list_taxi_df.append(df)

../data\fhv_tripdata_2015-01.csv
../data\fhv_tripdata_2015-02.csv
../data\fhv_tripdata_2015-03.csv
(9153861, 3)

In [17]:
print(len(list_taxi_df))
print(type(list_taxi_df[0]))
print(list_taxi_df[0].head())
taxi_loop_concat = pd.concat(list_taxi_df)
print(taxi_loop_concat.shape)

3
<class 'pandas.core.frame.DataFrame'>
  Dispatching_base_num          Pickup_date  locationID
0               B00013  2015-01-01 00:30:00         NaN
1               B00013  2015-01-01 01:22:00         NaN
2               B00013  2015-01-01 01:23:00         NaN
3               B00013  2015-01-01 01:44:00         NaN
4               B00013  2015-01-01 02:00:00         NaN
(9153861, 3)

In [18]:
print(taxi.equals(taxi_loop_concat))

True

In [19]:
#列表推导式
list_taxi_df_comp = [pd.read_csv(data) for data in nyc_taxi_data]
taxi_loop_concat_comp = pd.concat(list_taxi_df_comp)
print(taxi_loop_concat_comp.equals(taxi_loop_concat))

True