### 缺失值从哪里来：
1. 包含缺失值的数据值

2. 整理数据过程

在read_csv中有三个参数与与缺失值有关：
1. na_values
2. keep_default_na
3. na_filter

In [2]:
import pandas as pd

In [3]:
#数据包含nan
visiter_file = "../data/survey_visited.csv"
print(pd.read_csv(visiter_file))

   ident   site       dated
0    619   DR-1  1927-02-08
1    622   DR-1  1927-02-10
2    734   DR-3  1939-01-07
3    735   DR-3  1930-01-12
4    751   DR-3  1930-02-26
5    752   DR-3         NaN
6    837  MSK-4  1932-01-14
7    844   DR-1  1932-03-22

In [4]:
print(pd.read_csv(visiter_file,keep_default_na=False))

   ident   site       dated
0    619   DR-1  1927-02-08
1    622   DR-1  1927-02-10
2    734   DR-3  1939-01-07
3    735   DR-3  1930-01-12
4    751   DR-3  1930-02-26
5    752   DR-3
6    837  MSK-4  1932-01-14
7    844   DR-1  1932-03-22

In [10]:
print(pd.read_csv(visiter_file,
                  na_values=[""],
                  keep_default_na=False))

   ident   site       dated
0    619   DR-1  1927-02-08
1    622   DR-1  1927-02-10
2    734   DR-3  1939-01-07
3    735   DR-3  1930-01-12
4    751   DR-3  1930-02-26
5    752   DR-3         NaN
6    837  MSK-4  1932-01-14
7    844   DR-1  1932-03-22

In [ ]:
#合并诗句