In [3]:
#!pip install findspark

Collecting findspark
  Downloading https://files.pythonhosted.org/packages/fc/2d/2e39f9a023479ea798eed4351cd66f163ce61e00c717e03c37109f00c0f2/findspark-1.4.2-py2.py3-none-any.whl
Installing collected packages: findspark
Successfully installed findspark-1.4.2

In [1]:
import findspark

In [ ]:
#!pip install pyspark

In [22]:
import pyspark
from pyspark import SparkContext,SparkConf
import pandas as pd
import numpy as np
try:
    sc.stop()
except:
    pass
appname = "topN"  # 任务名称
master = "local"  # 单机模式设置
conf = SparkConf().setAppName(appname).setMaster(master)
sc = SparkContext(appName="topN")
text = sc.textFile("input/rank.txt")
text2 = text.collect()
text2
def slices(x):
    return x.split(",")
text2 = [slices(x) for x in text2]
df = pd.DataFrame(text2,columns=['序号','姓名','武力值','国家'])
df.index = np.arange(1,len(df)+1)
df = df.sort_values('武力值',ascending=False)
df.head(5)

In [23]:
try:
    sc.stop()
except:
    pass
appname = "topN"  # 任务名称
master = "local"  # 单机模式设置
conf = SparkConf().setAppName(appname).setMaster(master)
sc = SparkContext(appName="topN")
text = sc.textFile("input/rank.txt")
text2 = text.collect()
text2

['序号,姓名,武力值,国家',
 '1,刘备,68,蜀国',
 '2,马超,90,蜀国',
 '3,黄忠,91,蜀国',
 '4,魏延,76,蜀国',
 '5,姜维,92,蜀国',
 '6,关羽,96,蜀国',
 '7,严颜,78,蜀国',
 '8,孟达,64,蜀国',
 '9,张飞,88,蜀国',
 '10,马谡,76,蜀国',
 '11,赵云,95,蜀国',
 '12,法正,88,蜀国']

In [24]:
def slices(x):
    return x.split(",")
text2 = [slices(x) for x in text2]
df = pd.DataFrame(text2,columns=['序号','姓名','武力值','国家'])
df.index = np.arange(1,len(df)+1)
df = df.sort_values('武力值',ascending=False)
df.head(5)

    序号  姓名  武力值  国家
1   序号  姓名  武力值  国家
7    6  关羽   96  蜀国
12  11  赵云   95  蜀国
6    5  姜维   92  蜀国
4    3  黄忠   91  蜀国

In [25]:
from pyspark.sql import SparkSession
spark1 = SparkSession.builder.appName("topN").getOrCreate()
spark2 = SparkSession.builder.config(conf=conf).getOrCreate()
result = df.head(5)
sparkdf = spark1.createDataFrame(result)
sparkdf1 = spark2.createDataFrame(result)
#sparkdf.write.format("json").save("output")

In [36]:
sparkdf

DataFrame[序号: string, 姓名: string, 武力值: string, 国家: string]

In [ ]:
#sparkdf1.write.format("json").save("file:///D:\python_using\py_homework\output1")